<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.player" >
    <!--  指定主题  -->
    <application android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        
        <activity

            android:name=".TestPlayerActivity">

            <!--要想ide调试，需要配置laucher以及main启动 -->
            <intent-filter>
               <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
    
</manifest>
